<html>
<head>

</head>
<body>
<div>
  <%= $player1.name %> VS <%= $player2.name %><br><br>
  <h2>The battle has begun!</h2><br><br>

  <h3>Hit Points</h3>

  <div id="player1_div">
    <%= $player1.name %>: <%= $player1.hit_points %>
  </div>

  <div id="player2_div">
    <%= $player2.name %>: <%= $player2.hit_points %>
  </div>


</div>
</body>
</html>